# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Hoc_lap_trinh\Module_3\Week3_Module3\JDBC & CRUD\TH-QuanLyUserSuDungJSP-Servlet-JDBC-MySQL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
